@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.tablesBodyContainer{
    @include body-container;
    overflow: scroll;

    @media only screen and (max-width: $large) {
      min-width: 100vw;
      min-height: 100vh;
       }

    .header{
        @include header;
        @media only screen and (max-width: $large) {
          position: fixed;
          top: 8vh;
          background: white;
        }

        h3{
          @include header-title;
        }
      }

    .fetchedTablesContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      padding: 90px;
      gap: 40px;
      min-height: fit-content;
      overflow: scroll;

      @media only screen and (max-width: $medium) {
        justify-content: center;
        padding: 10px;
        min-width: 100vw;
        gap: 10px;
        margin-top: 10vh;
        margin-bottom: 10vh;
        }
    }

      .createNewTableButton{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 213px;
        height: 40px;
        background: $primary;
        box-shadow: $shadow;
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: 64px;
        border: none;
        position: absolute;
        right: 430px;
        bottom: 150px;
        cursor: pointer;

        &:hover{
          @include button-filled-hover;
        }
        &:active{
          @include button-filled-active;
      }

      @media only screen and (max-width: $large) {
        display: none;  
       }
      }

      .createNewTableButtonMobile{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: fixed;
        right: 50px;
        bottom: 100px;
        background: $primary;
        color: white;
        border: none;

        @media only screen and (min-width: $large) {
          display: none;  
         }
      }

     

}