@import '../../assets/sass/mixins.scss';
@import '../../assets/sass/variables.scss';


.addTablePageContainer{
    background: $greyBackground;
    width: 100vw;
    min-height: 100vh;
}

.drawerBodyMembers{
    @include drawer-body-members;
    
}