.membersListContainer{
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: end;
    min-height: 100%;

    .membersListItem{
        display: flex;
        align-items: center;
        gap: 20px;

        .onlineIndicator{
            width: 10px;
            height: 10px;
            background: #1aee2c;
            border-radius: 50%;
        }

        .avatar{
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }
    }
}