@import '../../assets/sass/variables.scss';
@import '../../assets/sass/mixins.scss';

.settingsPageContainer{
    width: 100vw;
    height: 100vh;
    background: $greyBackground;

    .drawerBodyMembers{
        @include drawer-body-members;
    }
}