$primary: #5E0060;
$accents: #457960; 
$error: #bd0000;
$grey: #D9D9D9;


.navbar{
    width: 100vw;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $grey;
    background: white;

    .logoAndTitle{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        display: flex;
        align-items: center;
        gap: 30px;
        padding-left: 25px;
    }
}