@import '../../../assets//sass/variables.scss';
@import '../../../assets/sass/mixins.scss';

.settingsBodyContainer{
  @include body-container;

  .header{
    @include header;
    
    h3{
      @include header-title;
    }
  }

  .settingsContent{

    padding: 40px;

    .changePhotoForm{
      display: flex;
      align-items: center;
      gap: 10px;
      
      .changePhotoInput[type=file]{
        border: 1px solid $grey;
        height: 42px;
        width: 400px;
        display: flex;
        align-items: center;
        font-size: 16px;
      }
    
      .changePhotoInput::file-selector-button{
        @include button-outlined-basic;

        &:hover{
          @include button-outlined-hover;
        }
        &:active{
          @include button-outlined-active;
        }
      }

      .changePhotoButton{
        @include button-filled-basic;
        font-size: 16px;

        &:hover{
          @include button-filled-hover;
        }
        &:active{
          @include button-filled-active;
      }
    }
  }
    .avatarPhotoError{
      color: $error;
      font-size: 16px;
      margin-top: 10px;
    }
  }
}