@import '../../../assets//sass/variables.scss';
@import '../../../assets/sass/mixins.scss';

.settingsBodyContainer{
  @include body-container;

  .header{
    @include header;
    
    h3{
      @include header-title;
    }
  }

  .settingsContent{

    padding: 40px;

    .changePhotoInput[type=file]{
      border: 1px solid $grey;
      height: 42px;
      width: 400px;
      display: flex;
      align-items: center;
      font-size: 16px;
    }
  
    .changePhotoInput::file-selector-button{
      background-color: white;
      border: 1px solid $primary;
      border-radius: 4px;
      width: 100px;
      height: 30px;
      color: $primary;
      margin: 5px;
      margin-right: 10px;
    }

    .avatarPhotoError{
      color: $error;
      font-size: 16px;
      margin-top: 10px;
    }
  }

}