@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.tableDetailsBodyContainer{
    @include body-container;
    position: relative;

    @media only screen and (max-width: $large) {
      min-width: 100vw;
      min-height: 100vh;
       }

    .header{
        @include header;

        @media only screen and (max-width: $large) {
          position: fixed;
          z-index: 1;
          background: white;
        }
        
        h3{
          @include header-title;
        }
      }

      .tableDetailsContainer{
        width: 100%;
        padding: 40px;
        gap: 40px;
        @media only screen and (max-width: $large) {
          padding: 10px;
          margin-top: 10vh;
        }

        .gameDetailsContainer{
          display: flex;
          gap: 2vw;

          @media only screen and (max-width: $large) {
            min-width: 100%;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            }

        .pictureContainer{
          background: $grey;
          min-width: 40%;
          min-height: 270px;
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            width: 200px;
          }
        }

        .gameDescriptionAndPlayers{
          display: flex;
          flex-direction: column;
          width: 60%;
          max-height: 30vh;

          @media only screen and (max-width: $large) {
           width: 100%;
           margin-top: 10px;
          }

          .gamePlayers{
            display: flex;
            gap: 20px;
            height: 30%;

            @media only screen and (max-width: $large) {
              justify-content: space-evenly;
              margin-bottom: 20px;
            }
            img{
              border-radius: 50%;
              width: 50px;
              height: 50px;
            }
            .playerDisplayName{
              width: 100%;
              text-align: center;
            }
          }

          .gameDescription{
            height: 70%;
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            border: 1px solid $grey;
          }
        }
      }
      }

  button{
    @include button-filled-basic;
    position: absolute;
    right: 60px;
    display: flex;
    justify-content: center;
    align-items: center; 

    @media only screen and (max-width: $large) {
     bottom: 100px;
     right: 20px;
     position: fixed;
    }
}


}







