@import '../../../assets/sass/mixins.scss';
@import '../../../assets/sass/variables.scss';

.tableDetailsBodyContainer{
    @include body-container;
    position: relative;

    .header{
        @include header;
        
        h3{
          @include header-title;
        }
      }

      .tableDetailsContainer{
        width: 100%;
        padding: 40px;
        gap: 40px;

        .gameDetailsContainer{
          display: flex;
          gap: 2vw;

        .pictureContainer{
          background: $grey;
          min-width: 40%;
          min-height: 270px;
          display: flex;
          justify-content: center;
          align-items: center;

          img{
            width: 200px;
          }
        }

        .gameDescriptionAndPlayers{
          display: flex;
          flex-direction: column;
          width: 60%;
          max-height: 30vh;

          .gamePlayers{
            height: 30%;
            img{
              border-radius: 50%;
              width: 50px;
              height: 50px;
              margin-right: 10px;
            }
          }

          textarea{
            height: 70%;
            width: 100%;
            overflow: hidden;
            overflow-y: scroll;
            border: 1px solid $grey;
          }
        }
      }
      }

  button{
  @include button-filled-basic;
  position: absolute;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
   
}
}





