.backgroundPicture{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url('../../../public/background.webp');
    background-size: cover;
    position: relative;

    .backgroundColor{
        background-color: rgb(94, 0, 96, 0.6);
        width: 100%;
        height: 100%;

        .signupFormContainer{
            width: 393px;
            height: 753px;
            background: white;
            border-radius: 20px 20px 0 0;
            position: absolute;
            bottom: 0px;
            left: 10%;
        }
    }
}